<h1>Vista en tiempo real de los productos</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="producto">
        
    
    </tbody>
</table>
<button class="agregar-btn" >Agregar producto</button>

<div id = "formulario">
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>